* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url(./bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    align-items: center;
}

.container h3 {
    font-weight: bolder;
    color: rgb(48, 36, 216);

}

.container button {
    background-color: mistyrose;
}

.container button:hover {
    background-color: yellow;
}